{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% crispy form form.helper %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Section -->
    <section id="Clients" class="typo-dark bg-grey">
        <div class="container">

            <div class="col-md-12">
                <div class="title-container sm">
                    <div class="title-wrap">
                        <h3 class="title">Subcribe for foap newsletter</h3>
                        <span class="separator line-separator"></span>
                    </div>
                    
                    <!--message-->
                    
                    {% if messages %}
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}

                    <!--message-->

                    <!-- Widget -->
                     <form method="POST" enctype="multipart/form-data" style="margin-top: 1.3em;">
                        {% csrf_token %}
                         <!-- Widget -->
                           <div class="input-group">
                                {% crispy form %}
                                <span class="input-group-btn">
                              <button type="submit" class="btn">Subcribe Now</button></span>
                        </div>
                    </form>
                    <!-- Widget -->
                </div>
                <!-- Title Container -->
            </div>
            <!-- Clients -->
        </div><!-- Container -->
    </section><!-- Section -->
</body>

</html>
{% endblock %}