{% extends 'master.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
   <!--=================================
 Page Section -->

<section id="contact">
  <div class="container">
    <div class="col-md-12">
                <div class="title-container sm">
                    <div class="title-wrap">
                        <h3 class="title">Contact Us</h3>
                        <span class="separator line-separator"></span>
                    </div>
                    <!--message-->
                     {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}" {% endif %} role="alert">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                                 {{ message }}
                               </div>
                    {% endfor %}
                    {% endif %}

                    <!--message-->
                </div>
	
	<div class="row">
   <!--Google Map-->
	  <div class="col-md-7">
        <iframe width="100%" height="315" src="https://maps.google.com/maps?q=Balijuri%20Bazar,%20Jamalpur%20-%20Madarganj%20Road,%20Madarganj&t=&z=13&ie=UTF8&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
      </div>
  <!--Google Map-->
      <div class="col-md-5">
          <h4><strong>Get in Touch</strong></h4>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-group">
            {{ form.Name|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.Email|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.Phone|as_crispy_field }}
          </div>
          <div class="form-group">
            {{ form.Body|as_crispy_field }}
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<!--=================================
 page-section --> 

</body>

</html>
{% endblock %}