{% extends 'master.html' %}

{% load static %}

{% block scripts %}
<script>
    $(document).ready(function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for item in context%}'{{item.Project}}',{% endfor %}],
                datasets: [{
                    label: '# FOAP',
                    data: [{% for item in context%}{{item.Value}},{% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    });
</script>    
{%endblock scripts%}

{% block content %}

    <div role="main" class="main">
        <div class="page-default typo-dark">
            <!-- Container -->
            <div class="container">
                <div class="row">
                    <div class="service-single-details">
                        <div class="title-container sm">
                            <div class="title-wrap">
                                <h3 class="title">OUR PROGRAM CHART</h3>
                                <span class="separator line-separator"></span>
                            </div>
                        </div>
                    </div>

                    <canvas id="myChart" width="100" height="50"></canvas>

                </div>
            </div>
        </div>
    </div>


{% endblock %}